<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Post</title>
</head>
<body>
    <h2>Make a post</h2>
    <form action="/create_post" method="post">
        <input type="text" name="title" id="" placeholder="Title">
        <input type="text" name="content" id="" placeholder="Content">
        <input type="text" name="image_url" id="" placeholder="Image">
        <input type="text" name="video_url" id="" placerholder="Video">
        <input type="text" name="hashtags" id="" placeholder="Hashtags">
        <input type="submit" value="Post!">
    </form>
</body>
</html>