<h2>Create a trial post</h2>
    <form action="/create_trial_post" method="post">
        <input type="text" name="title" id="" placeholder="Title">
        <input type="text" name="content" id="" placeholder="Content">
        <input type="text" name="hashtags" id="" placeholder="Hashtags">
        <input type="submit" value="Post!">
    </form>
