<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style>
img{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
}
h2{
    position: relative;
    z-index: 2;
    top: 70px;
    left: 70px;
    font-size: 100px;
    font-family: arapey;
}


</style>
<body>
    <div class=main>
        <img src="dance.png">

        <h2>JETÉ</h2>

        
    </div>
</body>
</html>