<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layout</title>
  
</head>
<style>
a{
    margin: 10px;
}
</style>
<body>
    <nav>
        <a href="/">Home</a> 
        <a href="/sign_up">Sign Up</a>
        <a href="/sign_in">Sign In</a>
        <a href="/account_settings">Account Settings</a>
        <a href="/all_posts">All Posts</a>
        <a href="/create_post">Create Post</a>
        <a href="/users_posts">Profile</a>
        <a href="/search_by_hashtags">Search By Hashtags</a>
        <a href="/posts_by_hashtags">Posts By Hashtags</a>  
    </nav>

    <%= yield%>

  <footer>
    <span>Footer</span>
  </footer>
</body>
</html>