<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/main1.css" >
  <title>Layout</title>
</head>

<body>
    <nav>
        <% if session[:user_id] %>
            <div class="nav_text_signed_in">
                <a href="/all_posts">TIMELINE </a>
                <span class="pipe_signed_in"> | </span>
                <a href="/profile">PROFILE </a>
                <span class="pipe_signed_in"> | </span>
                <a href="/search_by_hashtags">SEARCH </a> 
                <span class="pipe_signed_in"> | </span>
                <a href="/settings">SETTINGS </a>
                <span class="pipe_signed_in"> | </span>
                <a href="/logout">LOGOUT</a>
            </div>
            <div class="all_users">
                
            </div>
        <%else%>
        <div class="nav_text_signed_out">
            <a href="/sign_up">SIGN UP </a>
            <span class="pipe_signed_out"> | </span>
            <a href="/sign_in">SIGN IN</a>
        <%end%>
        </div>
        
        
    </nav>
    <%= yield%>

</body>
</html>