<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/posts_by_hashtags" method="post">
        <input type="text" name="hashtag_to_search" id="" placeholder="hash_tags">
        <input type="submit" value="Search">
    </form>
</body>
</html>