
    <% user=User.find(@@user_id)%>
    <div class="welcome_text">
    <h2 >Welcome <%= user.username %>!</h2>
    </div>
    <div class="profile_picture_container">
    <img class="profile_picture" src=<%=user.profile_picture_url %>>
    </div>
    <div class="change_password">
    <h2>Change password</h2>
    <form action="/settings" method="post">
        <input type="text" name="password" id="" placeholder="Password">
        <input type="text" name="confirm_password" id="" placeholder="Password">
        <input type="submit" value="Change">
    </form>
    </div>
    <div class="delete_account">
    <h2>Delete Account</h2>
    <form class="delete_account_form" action="/delete_account" method="post">
        <input class="delete_radio"type="radio" name="delete_account" value="delete">Delete Account<br>
        <input class="delete_button" type="submit" value="Confirm">
    </form>
    </div>
