
    <div class="sign_up_text">
    <h1 >SIGN UP</h1>
    </div>
    <div class="sign_up_form_container">
    <form class="sign_up_form" action="/sign_up" method="post">
        <input type="text" name="full_name" id="" placeholder="FULL NAMAE">
        <input type="text" name="username" id="" placeholder="USERNAME">
        <input type="password" name="password" id="" placeholder="PASSWORD">
        <input type="password" name="confirm_password" id="" placeholder="PASSWORD">
        <input type="email" name="email" id="" placeholder="EMAIL">
        <input type="date" name="birthday" id="" placeholder="BIRTHDAY">
        <input type="text" name="profile_picture_url" id="" placeholder="HEADSHOT">
        <input  class="lets_dance_button" type="submit" value="LET'S DANCE!">
    </form>
    </div>
    <img class="sign_up_image" src="dance2.png">
