<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/sign_up" method="post">
        <input type="text" name="full_name" id="" placeholder="Full Name">
        <input type="text" name="username" id="" placeholder="Username">
        <input type="password" name="password" id="" placeholder="Password">
        <input type="password" name="confirm_password" id="" placeholder="Password">
        <input type="email" name="email" id="" placeholder="Email">
        <input type="date" name="birthday" id="" placeholder="Birthday">
        <input type="text" name="profile_picture_url" id="" placeholder="Profile Picture URL">
        <input type="submit" value="Sign up">
    </form>

</body>
</html>